<?xml version="1.0" encoding="UTF-8"?>
<server description="Sistema Contable server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9081"
                  httpsPort="9444"
                  id="defaultHttpEndpoint"/>

    <library id="postgres-library">
        <file name="${server.config.dir}/postgresql-42.7.7.jar" />
    </library>
    <jdbcDriver id="postgres-driver" libraryRef="postgres-library" />

    <dataSource id="defaultDataSource"
                jdbcDriverRef="postgres-driver"
                jndiName="jdbc/sistemaContable"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">
        <properties.postgresql
                user="postgres"
                password="postgresmy"
                databaseName="sistema_contable_sic135"
                serverName="localhost"
                portNumber="5432" />
    </dataSource>

    <basicRegistry id="BasicUserRegistry">
        <user name="admin" password="admin1234"/>
        <user name="dev" password="dev1234"/>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>